<div class="admin">


    <div class="sidenav nav-item">
        <a href="/dashboard-admin" class="nav-link" >Dashboard</a>
        <a href="/payment-admin" class="nav-link">Payment</a>
        <a href="/createRoom-admin" class="nav-link active">Create Room</a>



        <a href=""> <div class="navbtn">
            <img src="/images/user-2.png" alt="">
            <div class="d-flex justify-content-center">
                <label for="">ADMIN</label>
            </div>
            <a href=""><button class="bttn btn btn-danger" type="button">Log Out</button></a>
        </div>
        </a>

        <div class="">
            <a href=""><button class="bttn btn btn-success" type="button">New User</button></a>
        </div>
    </div>


    <div class="dashboard col-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center">

      <form method="post" id="room-form" action="/createRoom-admin/createRoom">
        <div class="container pay">

            <div class="d-flex flds col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="roomno">Room No</label>
                </div>
                <div>
                    <input type="text" value="" id="roomno" name="roomno">
                </div>


            </div>

            <div class="d-flex flds col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="persons">Persons</label>
                </div>
                <div>
                    <input type="text" value="" id="persons" name="persons" >
                </div>


            </div>

            <div class="d-flex flds col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="ac">AC/Non AC <b>:</b></label>
                </div>
                <div class="opt">
                    <label for="">AC<input type="radio" name="ac" id="ac" class="radiobtn" value="AC"></label>
                    <label for="">Non AC<input type="radio" name="ac" id="ac" class="radiobtn" value="Non AC"></label>
                </div>


            </div>

            <div class="d-flex flds col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="rent">Rent</label>
                </div>
                <div>
                    <input type="text" id="rent" name="rent" value="">
                </div>


            </div>

            <div class="col-12 col-md-12 d-flex align-items-center">

                <div class="col-6 col-md-6">

                    <button type="submit" class="paybtn btn btn-warning">Create Room</button>

                </div>

                <div class="col-6 col-md-6">

                    <a href="/createRoom-admin"><button type="button"  class="paybtn btn btn-info">Cancel</button></a>

                </div>

            </div>


        </div>
      </form>
    </div>

</div>

