<div class="admin">


    <div class="sidenav nav-item">
        <a href="/dashboard-admin" class="nav-link" >Dashboard</a>
        <a href="/payment-admin" class="nav-link">Payment</a>
        <a href="/createRoom-admin" class="nav-link active">Create Room</a>
        <div class="navbtn">
            <a href=""><button class="btn btn-success" type="button">New User</button></a>
        </div>

    </div>


    <div class="dashboard col-10 col-md-8 col-lg-10 d-flex align-items-center justify-content-center">

        <div class="container pay row">

            <div class="d-flex flds col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="roomno">Room No</label>
                </div>
                <input type="text" value="" name="noomno">

            </div>

            <div class="d-flex flds col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="persons">Persons</label>
                </div>
                <input type="text" value="" name="persons" >

            </div>

            <div class="d-flex flds col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="">AC/Non AC <b>:</b></label>
                </div>
                AC<input type="radio" name="ac" class="radiobtn" value="AC">
                Non AC<input type="radio" name="ac" class="radiobtn" value="Non AC">

            </div>

            <div class="d-flex flds col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="rent">Rent</label>
                </div>
                <input type="number">

            </div>

            <div class="col-12 col-md-12 d-flex align-items-center">

                <div class="col-6 col-md-6">

                    <button type="submit" class="paybtn btn btn-warning">Create Room</button>

                </div>

                <div class="col-6 col-md-6">

                    <button type="button" class="paybtn btn btn-info">Cancel</button>

                </div>

            </div>


        </div>
    </div>

</div>

