<div class="admin">


    <div class="sidenav">
        <a href="/dashboard-admin" >Dashboard</a>
        <a href="/payment-admin" class="active" >Payment</a>
        <a href="/createRoom-admin">Create Room</a>



        <a href=""> <div class="navbtn">
            <img src="/images/user-2.png" alt="">
            <div class="d-flex justify-content-center">
                <label for="">ADMIN</label>
            </div>
            <a href=""><button class="bttn btn btn-danger" type="button">Log Out</button></a>
        </div>
        </a>

        <div class="">
            <a href=""><button class="bttn btn btn-success" type="button">New User</button></a>
        </div>
    </div>


    <div class="dashboard col-10 col-md-8 col-lg-10 d-flex align-items-center justify-content-center">

        <div class="container pay row">

            <div class="d-flex col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="roomno">Room No</label>
                </div>
                <input type="text" value="" name="noomno">

            </div>

            <div class="d-flex  col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="persons">Persons</label>
                </div>
                <input type="text" value="" name="persons" >

            </div>

            <div class="d-flex  col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="">AC/Non AC <b>:</b></label>
                </div>
                AC<input type="radio" name="ac" class="radiobtn" value="AC">
                Non AC<input type="radio" name="ac" class="radiobtn" value="Non AC">

            </div>

            <div class="d-flex  col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="rent">Rent</label>
                </div>
                <input type="number">

            </div>

            <div class="d-flex  col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="advance">Advance</label>
                </div>
                <input type="number" name="advance">

            </div>

            <div class="d-flex  col-12 col-md-12">

                <div class="col-6 col-md-6">
                    <label for="amtp">Amount To Pay</label>
                </div>
                <input type="number" name="amtp">

            </div>

            <div  class="col-12 col-md-12 d-flex align-items-center">

                <div class="col-4 col-md-4">

                    <button type="submit" class="paybtn btn btn-warning">Check In</button>

                </div>

                <div class="col-4 col-md-4">

                    <button type="submit" class="paybtn btn btn-warning">Check Out</button>

                </div>

                <div class="col-4 col-md-4">

                    <button type="button" class="paybtn btn btn-info">Cancel</button>

                </div>

            </div>


        </div>
    </div>

</div>

