<div class="loginMainPage h-100">
    <div class="jumbotron min-vh-100 text-center m-0 d-flex flex-column justify-content-center loginpg">
        <div class="container   col-12 col-sm-8 col-md-6 col-lg-4 logfld">
            <div class="container   col  logbox">
                <h3 class=" logintxt">LOGIN</h3>
            </div>
            <div class="jumbotron formField">
                <form class="form  justify-content-center align-items-center">
                    <div class="form-group">
                        <img class="txtfldimg" src="../images/user2.png" alt=""><input type="text" name="name" class="txtfld" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <img class="txtfldimg" src="../images/mail.png" alt=""><input type="email" name="email" class="txtfld" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <img class="txtfldimg" src="../images/password.png" alt=""><input type="password" name="password" class="txtfld" placeholder="Password">
                    </div>

                    <button class="loginbtn  btn " type="submit">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</div>