body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
}
img{
  height: 125px;
  width: 125px;
  background-color: #f1f1f1;
  border-radius: 50%;
}


.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
/*.table{*/
/*  height: 400px;*/
/*  overflow: scroll;*/
/*}*/
/*.tabdiv{*/
/*  height: 400px;*/
/*  overflow: scroll;*/
/*  overflow-x: hidden;*/
/*}*/


tbody {
  display:block;
  height:400px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}


.dashboard{
  /*margin-left: 160px;*/
  height: 850px;
}
a.active{
  color: #f1ba11;
  padding-left: 25px;
}

.pay {
  height: 450px;
  background-color: #111111;
  color: #f1f1f1;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.navbtn{
  margin-top:100%;
  width: 90%;
}

.flds{
  margin-left: -45px;
}
.paybtn{
  width: 120px;
}

.radiobtn{
  margin: 10px;
  margin-top: 5px;
}
.theadtitle{
  margin-top:20px ;
}
.headtable{
  margin-bottom:0;
}
.thtab{
    height: 45px;
}

.bttn{
  width: 125px;
}

.cust{
  height: auto;
  width: 80%;
  background-color: #111111;
  color: #f1f1f1;
  border-radius: 5px;
}

.custleft{
  margin-top: 25px;
  margin-bottom: 40px;
}

.custfld{
  margin-top: 20px;
}

.checkinbtn{
  width: 120px;
  margin-top: 60px;
  margin-left: 20px;
}

form{
  width:50%;
}
.customer-form{
  width: 75%;
}