body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
}
img{
  height: 125px;
  width: 125px;
}


.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.table{
  height: 400px;
  overflow: scroll;
}
.tabdiv{
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}
.dashboard{
  margin-left: 160px;
  height: 850px;
}
a.active{
  color: #f1ba11;
}

.pay {
  height: 450px;
  width: 80%;
  background-color: #111111;
  color: #f1f1f1;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.navbtn{
  margin-top:100%;
  width: 90%;
}

.flds{
  margin-left: -45px;
}
.paybtn{
  width: 120px;
}

.radiobtn{
  margin: 10px;
  margin-top: 5px;
}
.theadtitle{
  margin-top:20px ;
}
.headtable{
  margin-bottom:0;
}